body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e5a;
}

.cards-container {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    border: 10px solid #2a292980;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

.card-1 {
    background-color: #f0ad6e;
}

.card-2 {
    background-color: #f1f39d;
}

.card-header {
    padding: 5px 10px;
    text-align: left;
    color: #000;
    font-weight: bold;
    font-size: large;
    border: solid 5px #2a292980;
    margin: 4px 6px;
}

.card-image {
    margin: 20px 6px 6px 6px;
    padding: 0 10px;
}

.card img {
    width: 90%;
    border-radius: 10px;
}

.card-info {
    padding: 5px 10px;
    color: #000;
    border: solid 5px #2a292980;
    margin: 4px 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-type {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.card-description {
    font-size: 0.8em;
    margin-bottom: 10px;
    text-align: left;
    height: 120px;
}

.card-stats {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-top: solid 2px #2a292980;
}

.card:nth-child(1) {
    transform: rotate(-10deg);
}

.card:nth-child(2) {
    transform: rotate(10deg);
}