#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.input {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.container-buttons {
  display: flex;
  flex-direction: row;
}

.button-history {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  background-color: #f0f0f0;
}

.card {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
  color: #fff;
  background-color: #e96f6f;
  margin-top: 0.2rem;
  padding: 0 0.5rem;
  border-radius: 5px;
}