:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #37383b;
  color: #fff;
}

#favoriteLanguage {
  margin-top: 1rem;
  font-size: 1.5rem;
}

#changeFavorite {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  color: #37383b;
  cursor: pointer;
  font-size: 1rem;
}